html,
body {
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  background-color: #000;
}

#app{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  width: 500px;
  margin-top:100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#0e1013;
}
#header{
  background-color:#15181c;
  border-radius: 5px;
  padding: 5px;
  color:#FFAD1F;
}
#header>i{
  align-items: flex-end;
}
.task{
  margin-left: 5px;
  margin-right: 35px;
  margin-top:10px;
  display: flex;
}
.member1{
  display: flex;
  margin-top:15px;
  margin-left: 10px;
  height: 100%;
}
.member2{
  padding: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.member3{
  display: flex;
  margin-top:7px;
  margin-left: 5px;
  margin-right: -10px;

  height: 100%;
}
.task-input,.task-input:focus{
  background-color:#15181c;
  border:none;
  border-bottom: 1px solid #fff;
}
.task-label{
  color:#fff;
  font-size: 24px;
  margin-top:5px;
}