.new-task {

}
.task {

}
#list-task {
  margin: 50px 0 0 0;
  padding: 0;
  background-color:
}
#form-task {
  padding:10px;
}
#input-task {
  width: 20%;
}
#btn-task {
  margin: 0px 0px 0px 20px;
}


